.section-home .fa-3x{
	margin: 10px 5px;
}

.iris {
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.highlight
{
 background-color: orange !important;
 padding: 3px;
}

.loader{
	color:#FFFFFF;
}
